* {
  box-sizing: border-box; }

:root {
  width: 100%; }

body {
  margin: 0;
  padding: 20px 0 20px 0;
  background-color: #101415; }

.container {
  width: 80%; }

header .brand-logo {
  padding-left: 10px; }
header nav {
  background-color: #1b2223;
  position: relative; }
  header nav li:hover .submenu {
    display: block; }
  header nav li:hover {
    background-color: #263032; }
  header nav .submenu {
    position: absolute;
    top: 75px;
    background-color: #1b2223;
    width: 45%;
    columns: 3;
    box-shadow: 0 2px 6px rgba(225, 225, 225, 0.2);
    z-index: 10;
    display: none; }
    header nav .submenu::after {
      content: '';
      position: absolute;
      top: -20px;
      left: 20px;
      border: 10px solid transparent;
      border-bottom-color: #1b2223; }
    header nav .submenu li {
      width: 100%;
      display: inline-block; }

#recent_post h1, #recent_post h2, #recent_post h3, #recent_post h4, #recent_post h5, #recent_post h6, #action h1, #action h2, #action h3, #action h4, #action h5, #action h6, #animation h1, #animation h2, #animation h3, #animation h4, #animation h5, #animation h6 {
  background-color: #1b2223;
  display: inline-block;
  padding: 5px 10px;
  color: #eeeeee; }
#recent_post .post_box, #action .post_box, #animation .post_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  #recent_post .post_box .post_content, #action .post_box .post_content, #animation .post_box .post_content {
    width: 180px;
    margin: 20px 10px 0 0; }
    #recent_post .post_box .post_content .post_thumbnail, #action .post_box .post_content .post_thumbnail, #animation .post_box .post_content .post_thumbnail {
      width: 180px;
      overflow: hidden;
      cursor: pointer; }
      #recent_post .post_box .post_content .post_thumbnail img, #action .post_box .post_content .post_thumbnail img, #animation .post_box .post_content .post_thumbnail img {
        border-radius: 10px;
        width: 100%;
        height: auto;
        transition: all .5s;
        filter: blur(1px); }
        #recent_post .post_box .post_content .post_thumbnail img:hover, #action .post_box .post_content .post_thumbnail img:hover, #animation .post_box .post_content .post_thumbnail img:hover {
          transform: scale(1.2);
          filter: blur(0px); }
    #recent_post .post_box .post_content .post_description p, #action .post_box .post_content .post_description p, #animation .post_box .post_content .post_description p {
      color: #eeeeee;
      margin: 0;
      text-align: center; }
      #recent_post .post_box .post_content .post_description p a, #action .post_box .post_content .post_description p a, #animation .post_box .post_content .post_description p a {
        color: #eee; }
    #recent_post .post_box .post_content .post_description ul, #action .post_box .post_content .post_description ul, #animation .post_box .post_content .post_description ul {
      margin: 0; }
      #recent_post .post_box .post_content .post_description ul li, #action .post_box .post_content .post_description ul li, #animation .post_box .post_content .post_description ul li {
        display: inline-block; }
        #recent_post .post_box .post_content .post_description ul li a, #action .post_box .post_content .post_description ul li a, #animation .post_box .post_content .post_description ul li a {
          color: #eee;
          border-bottom: 1px solid #eee; }

#footer_area {
  background-color: #1b2223;
  margin-top: 30px; }
  #footer_area .content {
    width: 90%;
    display: flex;
    margin: auto; }
  #footer_area .box h4 {
    color: #eee; }
  #footer_area .box p {
    color: #eee; }

footer {
  background-color: #1b2223;
  border-top: 2px solid black; }
  footer .content {
    display: flex;
    position: relative;
    padding: 20px 0; }
  footer p {
    margin: 0 0 0 10px;
    color: #eee; }
    footer p:nth-child(2) {
      margin-left: 30px; }
    footer p a {
      text-decoration: underline;
      color: cornflowerblue; }
  footer ul {
    margin: 0;
    position: absolute;
    right: 10px; }
  footer li {
    margin: 0 20px;
    float: right;
    cursor: pointer;
    color: #eee; }
    footer li:hover i {
      color: #101415; }

@media (max-width: 840px) {
  #footer_area .content {
    display: block;
    padding: 10px 0; } }

/*# sourceMappingURL=style.css.map */
