* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 20px 0 0;
  background-color: #101415;
}

.container {
  width: 80%;
}

header .brand-logo {
  padding-left: 10px;
}

header nav {
  background-color: #1b2223;
  position: relative;
}

header nav li:hover .submenu {
  display: block;
}

header nav li:hover {
  background-color: #263032;
}

header nav .submenu {
  position: absolute;
  top: 75px;
  background-color: #1b2223;
  width: 45%;
  -webkit-columns: 3;
          columns: 3;
  -webkit-box-shadow: 0 2px 6px rgba(225, 225, 225, 0.2);
          box-shadow: 0 2px 6px rgba(225, 225, 225, 0.2);
  z-index: 10;
  display: none;
}

header nav .submenu::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 20px;
  border: 10px solid transparent;
  border-bottom-color: #1b2223;
}

header nav .submenu li {
  width: 100%;
  display: inline-block;
}

#recent_post h1, #recent_post h2, #recent_post h3, #recent_post h4, #recent_post h5, #recent_post h6, #action h1, #action h2, #action h3, #action h4, #action h5, #action h6, #animation h1, #animation h2, #animation h3, #animation h4, #animation h5, #animation h6 {
  background-color: #1b2223;
  display: inline-block;
  padding: 5px 10px;
  color: #eeeeee;
}

#recent_post .post_box, #action .post_box, #animation .post_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 5%;
}

#recent_post .post_box .post_content, #action .post_box .post_content, #animation .post_box .post_content {
  width: 180px;
  margin: 20px 10px 0 0;
}

#recent_post .post_box .post_content .post_thumbnail, #action .post_box .post_content .post_thumbnail, #animation .post_box .post_content .post_thumbnail {
  width: 180px;
  overflow: hidden;
  cursor: pointer;
}

#recent_post .post_box .post_content .post_thumbnail img, #action .post_box .post_content .post_thumbnail img, #animation .post_box .post_content .post_thumbnail img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

#recent_post .post_box .post_content .post_thumbnail img:hover, #action .post_box .post_content .post_thumbnail img:hover, #animation .post_box .post_content .post_thumbnail img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

#recent_post .post_box .post_content .post_description p, #action .post_box .post_content .post_description p, #animation .post_box .post_content .post_description p {
  color: #eeeeee;
  margin: 0;
  text-align: center;
}

#recent_post .post_box .post_content .post_description p a, #action .post_box .post_content .post_description p a, #animation .post_box .post_content .post_description p a {
  color: #eee;
}

#recent_post .post_box .post_content .post_description ul, #action .post_box .post_content .post_description ul, #animation .post_box .post_content .post_description ul {
  margin: 0;
}

#recent_post .post_box .post_content .post_description ul li, #action .post_box .post_content .post_description ul li, #animation .post_box .post_content .post_description ul li {
  display: inline-block;
}

#recent_post .post_box .post_content .post_description ul li a, #action .post_box .post_content .post_description ul li a, #animation .post_box .post_content .post_description ul li a {
  color: #eee;
  border-bottom: 1px solid #eee;
}

#footer_area {
  background-color: #1b2223;
  width: 100%;
  margin-top: 30px;
}

#footer_area .content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

#footer_area .box h4 {
  color: #eee;
}

#footer_area .box p {
  color: #eee;
}

footer {
  background-color: #1b2223;
}

footer nav {
  background-color: #1b2223;
}

footer nav p {
  float: left;
  margin: 0 0 0 10px;
}

footer nav p:nth-child(2) {
  margin-left: 30px;
}

footer nav p a {
  text-decoration: underline;
}

footer nav ul {
  margin: 0;
}

footer nav li {
  margin: 0 20px;
  float: right;
  cursor: pointer;
}

footer nav li:hover i {
  color: #101415;
}

@media (max-width: 840px) {
  #footer_area .content {
    display: block;
    padding: 10px 0;
  }
}
/*# sourceMappingURL=style.css.map */